In [ ]:
#Blockkarte: https://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s_ISU5_2015_UA
#Öffbeleucht: http://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s_oeffbeleucht
#Biotoptypen: https://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s_fb_berlinbtk
#Entwicklung Luftqualität - Emissionen 2015: https://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s03_12_2emissionen

In [ ]:
#karte = "https://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s_ISU5_2015_UA"
#beleucht = "http://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s_oeffbeleucht"
#typ = "https://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s_fb_berlinbtk"
#emission = "https://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s03_12_2emissionen"

In [1]:
import geopandas as gpd
import requests
from owslib.wfs import WebFeatureService
import matplotlib as plt

In [2]:
url = "https://fbinter.stadt-berlin.de/fb/wfs/geometry/senstadt/re_ortsteil"
wfs = WebFeatureService(url=url, version='1.1.0', timeout=300)

list(wfs.contents.keys())

['fis:re_ortsteil']

In [3]:
wfs.get_schema('fis:re_ortsteil')

{'properties': {'spatial_name': 'string',
  'spatial_alias': 'string',
  'spatial_type': 'string'},
 'required': [],
 'geometry': 'GeometryCollection',
 'geometry_column': 'spatial_geometry'}

In [4]:
ortsteile = wfs.getfeature(typename='fis:re_ortsteil')

In [5]:
ortsteile_df = gpd.read_file(ortsteile)

In [6]:
ortsteile_df.head()

,gml_id,spatial_name,spatial_alias,spatial_type,geometry
0,re_ortsteil.0101,0101,Mitte,Polygon,"POLYGON ((390887.827 5821875.159, 390873.482 5..."
1,re_ortsteil.0102,0102,Moabit,Polygon,"POLYGON ((387338.941 5822384.132, 387336.697 5..."
2,re_ortsteil.0103,0103,Hansaviertel,Polygon,"POLYGON ((387868.810 5819944.731, 387870.303 5..."
3,re_ortsteil.0104,0104,Tiergarten,Polygon,"POLYGON ((389823.704 5820142.165, 389822.801 5..."
4,re_ortsteil.0105,0105,Wedding,Polygon,"POLYGON ((388825.025 5824733.214, 388824.600 5..."

In [2]:
url = "https://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s_ISU5_2015_UA"
wfs = WebFeatureService(url=url, version='1.1.0', timeout=300)

list(wfs.contents.keys())

['fis:s_ISU5_2015_UA']

In [3]:
wfs.get_schema('fis:s_ISU5_2015_UA')

{'properties': {'FLALLE': 'decimal',
  'STR_FLGES': 'decimal',
  'BEZ': 'decimal',
  'BEZIRK': 'string',
  'STAT': 'string',
  'PRG': 'string',
  'PRG_NAME': 'string',
  'BZR': 'string',
  'BZR_NAME': 'string',
  'PLR': 'string',
  'PLR_NAME': 'string'},
 'required': [],
 'geometry': 'GeometryCollection',
 'geometry_column': 'SHAPE'}

In [4]:
karte = wfs.getfeature(typename='fis:s_ISU5_2015_UA')

In [5]:
karte_df = gpd.read_file(karte)

In [6]:
karte_df.head()

,gml_id,FLALLE,STR_FLGES,BEZ,BEZIRK,STAT,PRG,PRG_NAME,BZR,BZR_NAME,PLR,PLR_NAME,geometry
0,s_ISU5_2015_UA.0401090161000000,194431.0,24391.0,3.0,Pankow,109,0306,Nördlicher Prenzl. Berg,030614,Prenzlauer Berg Ost,03061430,Volkspark Prenzlauer Berg,"POLYGON ((394862.511 5821917.607, 394870.946 5..."
1,s_ISU5_2015_UA.0401090171000000,16605.0,5668.0,3.0,Pankow,109,0306,Nördlicher Prenzl. Berg,030614,Prenzlauer Berg Ost,03061430,Volkspark Prenzlauer Berg,"POLYGON ((395663.219 5821249.211, 395723.397 5..."
2,s_ISU5_2015_UA.0401090181000000,7264.0,3720.0,3.0,Pankow,109,0306,Nördlicher Prenzl. Berg,030614,Prenzlauer Berg Ost,03061430,Volkspark Prenzlauer Berg,"POLYGON ((395627.552 5821169.347, 395655.761 5..."
3,s_ISU5_2015_UA.0401090191000000,109611.0,21853.0,3.0,Pankow,109,0306,Nördlicher Prenzl. Berg,030614,Prenzlauer Berg Ost,03061430,Volkspark Prenzlauer Berg,"POLYGON ((394754.286 5821803.367, 394918.729 5..."
4,s_ISU5_2015_UA.0401090201000000,101452.0,6613.0,3.0,Pankow,109,0306,Nördlicher Prenzl. Berg,030614,Prenzlauer Berg Ost,03061435,Conrad-Blenkle-Straße,"POLYGON ((394550.669 5821404.393, 394681.395 5..."

In [7]:
url = "http://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s_oeffbeleucht"
wfs = WebFeatureService(url=url, version='1.1.0', timeout=300)

list(wfs.contents.keys())

['fis:s_oeffbeleucht']

In [8]:
wfs.get_schema('fis:s_oeffbeleucht')

{'properties': {'LEUCHTSTELLE': 'string',
  'KURZNUMMER': 'string',
  'BETRIEBSART': 'string',
  'STATUS': 'string',
  'BEZIRK': 'string',
  'ORTSTEIL': 'string',
  'STRASSE': 'string',
  'EAST': 'decimal',
  'NORTH': 'decimal',
  'LEUCHTENTYP': 'string'},
 'required': [],
 'geometry': 'GeometryCollection',
 'geometry_column': 'SHAPE'}

In [9]:
beleucht = wfs.getfeature(typename='fis:s_oeffbeleucht')

In [10]:
beleucht_df = gpd.read_file(beleucht)

In [11]:
beleucht_df.head()

,gml_id,LEUCHTSTELLE,KURZNUMMER,BETRIEBSART,STATUS,BEZIRK,ORTSTEIL,STRASSE,EAST,NORTH,LEUCHTENTYP,geometry
0,s_oeffbeleucht.33123,02211-2110008-00,0008,Strom,In Betrieb,Spandau (REG C),Kladow,Jägerallee,372438.3163,5814483.635,Lichtmast mit Ansatzleuchte,POINT (372438.316 5814483.635)
1,s_oeffbeleucht.33124,02211-2110009-00,0009,Strom,In Betrieb,Spandau (REG C),Kladow,Jägerallee,372426.9082,5814451.792,Lichtmast mit Ansatzleuchte,POINT (372426.908 5814451.792)
2,s_oeffbeleucht.33125,02211-2110010-00,0010,Strom,In Betrieb,Spandau (REG C),Kladow,Jägerallee,372431.6264,5814423.142,Lichtmast mit Ansatzleuchte,POINT (372431.626 5814423.142)
3,s_oeffbeleucht.33126,02211-2110011-00,0011,Strom,In Betrieb,Spandau (REG C),Kladow,Jägerallee,372440.9318,5814390.779,Lichtmast mit Ansatzleuchte,POINT (372440.932 5814390.779)
4,s_oeffbeleucht.33127,02211-2110012-00,0012,Strom,In Betrieb,Spandau (REG C),Kladow,Jägerallee,372453.2643,5814363.783,Lichtmast mit Ansatzleuchte,POINT (372453.264 5814363.783)

In [12]:
url = "https://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s_fb_berlinbtk"
wfs = WebFeatureService(url=url, version='1.1.0', timeout=300)

list(wfs.contents.keys())

['fis:s_fb_berlinbtk']

In [13]:
wfs.get_schema('fis:s_fb_berlinbtk')

{'properties': {'BIOTOP_ID': 'string',
  'BT_CODE': 'string',
  'BT_NAME': 'string',
  'BT_LEG': 'string',
  'BFN_CODE': 'string',
  'ZBT_CODE': 'string',
  'BBT_CODE': 'string',
  'SCHUTZ_GES': 'string',
  'BT_WERT': 'string',
  'LRT_CODE': 'string',
  'LRT_NAME': 'string',
  'LRT_ZUSTA': 'string',
  'LRT_KOMPL': 'string',
  'BOGEN_ID': 'string',
  'KART_JAHR': 'string',
  'PRJ_ID': 'string',
  'PRJ_TITEL': 'string',
  'DAT_QUELLE': 'string',
  'DAT_METHOD': 'string'},
 'required': [],
 'geometry': 'GeometryCollection',
 'geometry_column': 'GEOMETRIE'}

In [14]:
typ = wfs.getfeature(typename='fis:s_fb_berlinbtk')

In [15]:
typ_df = gpd.read_file(typ)

In [16]:
typ_df.head()

,gml_id,BIOTOP_ID,BT_CODE,BT_NAME,BT_LEG,BFN_CODE,ZBT_CODE,BBT_CODE,SCHUTZ_GES,BT_WERT,...,LRT_NAME,LRT_ZUSTA,LRT_KOMPL,BOGEN_ID,KART_JAHR,PRJ_ID,PRJ_TITEL,DAT_QUELLE,DAT_METHOD,geometry
0,s_fb_berlinbtk.SD1276015,SD1276015,01000,Fließgewässer,1,23.,None,None,3,-1,...,None,None,3,None,None,None,None,S,S_Gewässer,"POLYGON ((373878.291 5823124.698, 373876.630 5..."
1,s_fb_berlinbtk.SD1276021,SD1276021,01000,Fließgewässer,1,23.,None,None,3,-1,...,None,None,3,None,None,None,None,S,S_Gewässer,"POLYGON ((377387.250 5821451.963, 377387.591 5..."
2,s_fb_berlinbtk.SD1276024,SD1276024,01000,Fließgewässer,1,23.,None,None,3,-1,...,None,None,3,None,None,None,None,S,S_Gewässer,"POLYGON ((377053.903 5821392.762, 377053.882 5..."
3,s_fb_berlinbtk.SD1276027,SD1276027,01000,Fließgewässer,1,23.,None,None,3,-1,...,None,None,3,None,None,None,None,S,S_Gewässer,"POLYGON ((377643.322 5810868.289, 377645.257 5..."
4,s_fb_berlinbtk.SD1276033,SD1276033,01000,Fließgewässer,1,23.,None,None,3,-1,...,None,None,3,None,None,None,None,S,S_Gewässer,"POLYGON ((385661.856 5827958.611, 385640.907 5..."

In [17]:
url = "https://fbinter.stadt-berlin.de/fb/wfs/data/senstadt/s03_12_2emissionen"
wfs = WebFeatureService(url=url, version='1.1.0', timeout=300)

list(wfs.contents.keys())

['fis:s03_12_2emissionen']

In [18]:
wfs.get_schema('fis:s03_12_2emissionen')

{'properties': {'IDNR_1KM': 'decimal',
  'X_MAX': 'decimal',
  'X_MIN': 'decimal',
  'Y_MAX': 'decimal',
  'Y_MIN': 'decimal',
  'AREA': 'decimal',
  'NOX_H_15': 'decimal',
  'NOX_I_15': 'decimal',
  'NOX_V_GN15': 'decimal',
  'NOX_V_HN15': 'decimal',
  'NOX_V_NN15': 'decimal',
  'NOX_GE_15': 'decimal',
  'PM10_H_15': 'decimal',
  'PM10_I_15': 'decimal',
  'PM10_VGN15': 'decimal',
  'PM10_VHN15': 'decimal',
  'PM10_VNN15': 'decimal',
  'PM10_GE_15': 'decimal',
  'PM2_5_H_15': 'decimal',
  'PM2_5_I_15': 'decimal',
  'PM25_VGN15': 'decimal',
  'PM25_VHN15': 'decimal',
  'PM25_VNN15': 'decimal',
  'PM25_GE15': 'decimal'},
 'required': [],
 'geometry': 'GeometryCollection',
 'geometry_column': 'SHAPE'}

In [19]:
emission = wfs.getfeature(typename='fis:s03_12_2emissionen')

In [20]:
emission_df = gpd.read_file(emission)

In [21]:
emission_df.head()

,gml_id,IDNR_1KM,X_MAX,X_MIN,Y_MAX,Y_MIN,AREA,NOX_H_15,NOX_I_15,NOX_V_GN15,...,PM10_VHN15,PM10_VNN15,PM10_GE_15,PM2_5_H_15,PM2_5_I_15,PM25_VGN15,PM25_VHN15,PM25_VNN15,PM25_GE15,geometry
0,s03_12_2emissionen.117,38485828.0,385800.0,384800.0,5829700.0,5828700.0,1000000.0,2.43,0.00,4.96,...,0.37,0.06,0.73,0.27,0.0,0.22,0.18,0.04,1.0,"POLYGON ((384800.000 5828700.000, 385800.000 5..."
1,s03_12_2emissionen.118,38585828.0,386800.0,385800.0,5829700.0,5828700.0,1000000.0,1.79,52.52,6.37,...,0.44,0.12,0.86,0.24,0.0,0.30,0.21,0.08,1.0,"POLYGON ((385800.000 5828700.000, 386800.000 5..."
2,s03_12_2emissionen.119,38685828.0,387800.0,386800.0,5829700.0,5828700.0,1000000.0,1.73,30.99,9.51,...,0.73,0.12,1.26,0.35,0.0,0.42,0.34,0.08,1.0,"POLYGON ((386800.000 5828700.000, 387800.000 5..."
3,s03_12_2emissionen.120,38785828.0,388800.0,387800.0,5829700.0,5828700.0,1000000.0,1.35,0.00,7.03,...,0.30,0.16,0.83,0.35,0.0,0.29,0.18,0.10,1.0,"POLYGON ((387800.000 5828700.000, 388800.000 5..."
4,s03_12_2emissionen.121,38885828.0,389800.0,388800.0,5829700.0,5828700.0,1000000.0,0.64,0.00,10.65,...,0.63,0.10,0.88,0.14,0.0,0.35,0.28,0.06,0.0,"POLYGON ((388800.000 5828700.000, 389800.000 5..."

In [7]:
ortsteile_df.to_file("ortsteile.geojson", driver='GeoJSON')

In [22]:
karte_df.to_file("karte.geojson", driver='GeoJSON')

In [23]:
beleucht_df.to_file("beleucht.geojson", driver='GeoJSON')

In [24]:
typ_df.to_file("typ.geojson", driver='GeoJSON')

In [25]:
emission_df.to_file("emission.geojson", driver='GeoJSON')